.layout.admin > .list.admin > .entries{
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.layout.admin > .list.admin > .entries > .ticket{
    display: flex;
    flex-direction: row;

    gap: 0.5rem;

    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
}
.layout.admin > .list.admin > .entries > .ticket > .icon{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 40px;
    min-height: 40px;

    width: 40px;
    height: 40px;

    background-color: black;
    color: white;

    border-radius: 50%;
    text-align: center;
    font-size: 12px;

    user-select: none;
}
.layout.admin > .list.admin > .entries > .ticket > .content{
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 0.5rem;
    padding: 4px;
    font-size: 14px;
}
.layout.admin > .list.admin > .entries > .ticket > .content > p{
    margin: 0;
}
.layout.admin > .list.admin > .entries > .ticket > .content > p.meta {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.layout.admin > .list.admin > .entries > .ticket > .content > p.meta > span.timestamp{
    display: flex;
    justify-content: end;
    margin-left: auto;
}

.layout.admin > .page-content.admin > .ticket-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout.admin > .page-content.admin > .ticket-container > .header > .meta > span.status,
.layout.admin > .page-content.admin > .ticket-container > .header > .meta > span.id,
.layout.admin > .page-content.admin > .ticket-container > .header > .meta > span.timestamp{
    padding: 0.25rem;
    border-radius: 6px;
    font-size: 12px;
    font-family: monospace;

    border: 1px solid hsl(from var(--border-color) h s calc(l * 1));
    background-color: hsl(from var(--border-color) h s calc(l * 1) / 20%);
}
.layout.admin > .page-content.admin > .ticket-container > .header {
    padding: 1rem;
}
.layout.admin > .page-content.admin > .ticket-container > .header > h1.title{
    margin-bottom: 6px;
    font-size: 20px;
}
.layout.admin > .page-content.admin > .ticket-container > .header > .info {
    font-size: 12px;
}
.layout.admin > .page-content.admin > .ticket-container > .header > .info > p {
    margin: 0;
}
.layout.admin > .page-content.admin > .ticket-container > .header > .info > p .owner {
    font-weight: bold;
}