.layout.admin > .page-content.admin > .ticket-wrapper{
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.layout.admin > .page-content.admin > .ticket-filters{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
    font-size: 14px;
}
.layout.admin > .page-content.admin > .ticket-filters > div{
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.layout.admin > .page-content.admin > .ticket-filters input,
.layout.admin > .page-content.admin > .ticket-filters select{
    border-radius: 0.5rem;
    outline: none;
    font-size: 14px;
    padding: 2px;
}

.layout.admin > .page-content.admin > .ticket-wrapper > .tickets{
    width: 100%;
    table-layout: auto;
}

.layout.admin > .page-content.admin > .ticket-wrapper > .tickets,
.layout.admin > .page-content.admin > .ticket-wrapper > .tickets th,
.layout.admin > .page-content.admin > .ticket-wrapper > .tickets td{
    border-collapse: collapse;
}
.layout.admin > .page-content.admin > .ticket-wrapper > .tickets th,
.layout.admin > .page-content.admin > .ticket-wrapper > .tickets td {
    padding: 10px;
}

.layout.admin > .page-content.admin > .ticket-wrapper > .tickets th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.layout.admin > .page-content.admin > .ticket-wrapper > .tickets > .ticket {
    cursor: pointer;
}


/* ticket itself */
.layout.admin > .page-content.admin > .ticket-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    flex: 1 1 auto;
    overflow: hidden;
}

.layout.admin > .page-content.admin > .ticket-container > .header {
    display: flex;
    flex-direction: column;

    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.layout.admin > .page-content.admin > .ticket-container > .header > .meta{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.layout.admin > .page-content.admin > .ticket-container > .header > .meta span{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    padding: 4px 8px;
    font-size: 14px;
    font-family: monospace;
    border-radius: 6px;
}
.layout.admin > .page-content.admin > .ticket-container > .header > h1.title{
    margin-bottom: 0;
    font-size: 20px;
}

.layout.admin > .page-content.admin > .ticket-container > .ticket-footer{
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: auto;
}

.layout.admin > .page-content.admin > .ticket-container > .ticket-footer > .editor{
    border-radius: 0.5rem;
    overflow: hidden;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-footer > .editor .ql-editor{
    max-height: 250px;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-footer > .top-actions{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-footer > .top-actions > .action{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-footer > .top-actions > .action > svg{
    width: 18px;
    height: 18px;
}

.layout.admin > .page-content.admin > .ticket-container > .ticket-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 auto;

    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    overflow: auto;
}

/* ticket messages */
.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container.mine{
    justify-content: end;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container > .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    font-size: 12px;
    border-radius: 50%;

    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container > .content{
    display: flex;
    flex-direction: column;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container > .content.mine{
    justify-content: end;
    align-items: end;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container > .content > .message{
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    width: fit-content;
}

/* system message */
.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container.system {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container.system p {
    z-index: 2;
    font-size: 12px;
    padding: 0 8px;
}
.layout.admin > .page-content.admin > .ticket-container > .ticket-content > .message-container.system hr{
    position: absolute;
    margin-bottom: 0.65rem;
    width: 100%;
    z-index: 1;
}